.mb-8 {
  margin-bottom: 2rem
}

.h-full {
  height: 100%
}

.h-10 {
  height: 2.5rem
}

.w-10 {
  width: 2.5rem
}

.w-3\/6 {
  width: 50%
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: 0.5rem
}

.border {
  border-width: 1px
}

.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity))
}

.p-3 {
  padding: 0.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-medium {
  font-weight: 500
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}
